.s{
    font-size: 20px;
    border: 1em;
    border-color: aqua;
    border-style: groove;
    color: chartreuse;
    text-align: center ;
}
p{
    border-color: blue;
    color: yellow;
    border: 1em;
    border-style: solid;
    text-align: center ;
    font-size: 25px;
}
h1{
    color: white;
    font-style: oblique;
    text-align: center ;
}
.q{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navbar{
    background-color:white;
    color: yellow;
}